@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray gainsboro;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: gainsboro;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 3px solid gainsboro;
}
